
body {
  background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.common {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

button {
  padding: 25px 70px;
  font-size: 40px;
}

.math {
  font-size: 3rem;
  padding-top: 7rem;
}

.screen {
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 35px;
  background-color: rgb(117, 67, 67);
  color: #fff;
  height: 60px;
  padding: 20px;
}

.calculatorKeys {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.orange {
  background-color: orange;
}

.zero {
  grid-column: 1 / span 2;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem;
}

.navBar h2 {
  font-size: 2rem;
}

.navBar {
  background-color: transparent;
  padding: 10px;
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

p {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.links {
  display: flex;
  list-style: none;
  font-size: 25px;
}

.links li {
  justify-content: space-between;
  margin-left: 10px;
}
